@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/Helvetica Neue Condensed Bold.ttf");
}
.gallery-card {
  background: white;
  margin-left: 20px;
}

.gallery-card__title {
  width: 301px;
  color: #134880;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.gallery-card__text {
  color: #484a4c;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.gallery-slider__first-row,
.gallery-slider__second-row,
.gallery-slider__second-row-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-slider__first-row.sliding-transition,
.gallery-slider__second-row-images.sliding-transition {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.gallery-slider__first-row {
  margin-bottom: 10px;
}

.gallery-slider__second-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-image {
  border-radius: 5px;
  margin-left: 10px;
  height: 200px;
  width: auto;
}

.gallery-slider__second-row-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  height: 200px;
  background-color: white;
  z-index: 100;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: white;
}

.icon-wrapper:hover {
  border: 2px solid #134880;
}

.first-wrapper {
  margin-bottom: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__left-side {
  width: 301px;
  height: 100px;
  border-radius: 0px 0px 5px 5px;
  background: #dddddd;
  margin-right: 19px;
}

.header__right-side {
  padding: 41px 0px 41px 80px;
  width: 621px;
  height: 100px;
  border-radius: 0px 0px 5px 5px;
  background: #dddddd;
}

.header__right-side-text {
  color: white;
  font-family: "Helvetica Neue", monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer__content {
  padding: 41px 0px 41px 80px;
  width: 941px;
  height: 100px;
  border-radius: 0px 0px 5px 5px;
  background: #dddddd;
}

.footer__content-text {
  color: white;
  font-family: "Helvetica Neue", monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery {
  margin: 60px 0px;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}