@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap");
.gallery-card {
  width: 301px;
  background: white;
}

.gallery-card__title {
  color: #134880;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.gallery-card__text {
  color: #484a4c;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.gallery-slider {
  position: absolute;
  right: 321px;
  overflow: hidden;
}

.gallery-slider__first-row,
.gallery-slider__second-row,
.gallery-slider__second-row-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-slider__first-row.sliding-transition,
.gallery-slider__second-row-images.sliding-transition {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.gallery-slider__first-row {
  margin-bottom: 10px;
}

.gallery-slider__second-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-image {
  border-radius: 5px;
  margin-left: 10px;
  height: 200px;
  width: auto;
}

.gallery-slider__second-row-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  height: 200px;
  background-color: white;
  z-index: 100;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: white;
}

.icon-wrapper:hover {
  border: 2px solid #134880;
}

.first-wrapper {
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}