@font-face {
  font-family: "Source Sans 3 Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/SourceSans3-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Source Sans 3 Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/SourceSans3-Bold.ttf") format("ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}