@import "./variables";
@import "../card";
@import "../slider";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
