.gallery-card {
  background: white;
  margin-left: 20px;
}

.gallery-card__title {
  width: 301px;
  color: $blue;
  font-family: $sans;
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.gallery-card__text {
  color: $gray;
  font-family: $sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
}
