.footer__content {
  padding: 41px 0px 41px 80px;
  width: 941px;
  height: 100px;
  border-radius: 0px 0px 5px 5px;
  background: $lightGray;
}

.footer__content-text {
  color: $white;
  font-family: $helveticaHeue;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
