.gallery-slider {
}

.gallery-slider__first-row,
.gallery-slider__second-row,
.gallery-slider__second-row-images {
  display: flex;
}

.gallery-slider__first-row.sliding-transition,
.gallery-slider__second-row-images.sliding-transition {
  transition: transform 0.5s ease-in-out;
}

.gallery-slider__first-row {
  margin-bottom: 10px;
}

.gallery-slider__second-row {
  justify-content: space-between;
}

.gallery-image {
  border-radius: 5px;
  margin-left: 10px;
  height: 200px;
  width: auto;
}

.gallery-slider__second-row-icons {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  height: 200px;
  background-color: white;
  z-index: 100;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid $lightGray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $white;
}

.icon-wrapper:hover {
  border: 2px solid $blue;
}

.first-wrapper {
  margin-bottom: 10px;
}

.left-arrow {
  background-image: url($grayLeft);
  height: 16px;
  width: 10px;
}

.left-arrow-button:hover {
  .left-arrow {
    background-image: url($blueLeft);
  }
}

.right-arrow {
  background: url($grayRight);
  height: 16px;
  width: 10px;
}

.right-arrow-button:hover {
  .right-arrow {
    background: url($blueRight);
  }
}
